body, html { 
	width: 100%; 
	height: 100%;
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-image: url(https://images.unsplash.com/photo-1558089551-95d707e6c13c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80); 
	background-repeat: no-repeat; 
	background-size: 100% 100%; 
	font-size: 30px; 
	font-family: cursive; 
	font-weight: bold; 
	color:black; 
} 
.wrapper { 
	width: 100%; 
	height: 100%; 
	display: table; 
} 
.main { 
	display: table-cell; 
	vertical-align: middle; 
	text-align: center; 
} 
.quiz-frame { 
	border: 0; 
	box-shadow: 0 0 10px rgba(0,0,0,0.5); 
} 
.quiz__head { 
	font-size: 40px; 
	text-align: left; 
	margin-bottom: 50px; 
	margin-left: 220px; 
} 
.head__content { 
	padding: 5px; 
} 
.quiz__body { 
	margin: 10px; 
} 
.quiz__footer { 
	position: absolute; 
	top: 20px; 
	display: block; 
	width: 100%; 
	margin-left:20px; 
} 
.footer__content { 
	padding: 5px; 
} 
.button { 
	border: 0; 
	border-radius: 10px; 
	background-color: rgba(0, 0, 0, 0); 
	color: #fff; 
	padding: 29px 25px; 
	width: 70%; 
	display: block; 
	margin-left: 250px; 
	text-align: left; 
	cursor: pointer; 
	font-size: 29px; 
	font-family: cursive; 
	font-weight: bold; 
	color:black; 
} 
button:active { 
	background: #CDD3D6; 
}